[submodule "pack/plugins/start/caw.vim"]
	path = pack/plugins/start/caw.vim
	url = https://github.com/tyru/caw.vim
[submodule "pack/plugins/start/coc.nvim"]
	path = pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/preservim/tagbar
[submodule "pack/plugins/start/undotree"]
	path = pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "pack/plugins/start/vim-clap"]
	path = pack/plugins/start/vim-clap
	url = https://github.com/liuchengxu/vim-clap
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = https://github.com/kana/vim-repeat
[submodule "pack/plugins/start/python-syntax"]
	path = pack/plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "pack/plugins/start/vista.vim"]
	path = pack/plugins/start/vista.vim
	url = https://github.com/liuchengxu/vista.vim
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/opt/auto-pairs"]
	path = pack/plugins/opt/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/plugins/start/vim-lsp-cxx-highlight"]
	path = pack/plugins/start/vim-lsp-cxx-highlight
	url = https://github.com/jackguo380/vim-lsp-cxx-highlight
[submodule "pack/plugins/start/vim-snippets"]
	path = pack/plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/plugins/start/vim-python-pep8-indent"]
	path = pack/plugins/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "pack/plugins/start/vim-mundo"]
	path = pack/plugins/start/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo
[submodule "pack/plugins/start/nim.vim"]
	path = pack/plugins/start/nim.vim
	url = https://github.com/zah/nim.vim
[submodule "pack/plugins/opt/lexima.vim"]
	path = pack/plugins/opt/lexima.vim
	url = https://github.com/cohama/lexima.vim
