[submodule "pack/plugins/start/caw.vim"]
	path = pack/plugins/opt/caw.vim
	url = https://github.com/tyru/caw.vim
[submodule "pack/plugins/start/coc.nvim"]
	path = pack/plugins/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/opt/tagbar
	url = https://github.com/preservim/tagbar
[submodule "pack/plugins/start/undotree"]
	path = pack/plugins/opt/undotree
	url = https://github.com/mbbill/undotree
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/opt/vim-repeat
	url = https://github.com/kana/vim-repeat
[submodule "pack/plugins/start/python-syntax"]
	path = pack/plugins/opt/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "pack/plugins/opt/auto-pairs"]
	path = pack/plugins/opt/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/plugins/start/vim-lsp-cxx-highlight"]
	path = pack/plugins/opt/vim-lsp-cxx-highlight
	url = https://github.com/jackguo380/vim-lsp-cxx-highlight
[submodule "pack/plugins/start/vim-snippets"]
	path = pack/plugins/opt/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/plugins/start/vim-python-pep8-indent"]
	path = pack/plugins/opt/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "pack/plugins/start/nim.vim"]
	path = pack/plugins/opt/nim.vim
	url = https://github.com/zah/nim.vim
[submodule "pack/plugins/opt/vim-sandwich"]
	path = pack/plugins/opt/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule "pack/plugins/opt/fzf.vim"]
	path = pack/plugins/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/plugins/opt/vim-matchup"]
	path = pack/plugins/opt/vim-matchup
	url = https://github.com/andymass/vim-matchup
[submodule "pack/plugins/opt/coc-fzf"]
	path = pack/plugins/opt/coc-fzf
	url = https://github.com/antoinemadec/coc-fzf
[submodule "pack/plugins/opt/vim-gitgutter"]
	path = pack/plugins/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/opt/vim-peekaboo"]
	path = pack/plugins/opt/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo
[submodule "pack/plugins/opt/vim-cpp-modern"]
	path = pack/plugins/opt/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule "pack/plugins/opt/kotlin-vim"]
	path = pack/plugins/opt/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule "pack/plugins/opt/rust.vim"]
	path = pack/plugins/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim
